# OS files
.DS_Store

# Vendor files
/node_modules
/src/assets/yoastseo-repo
/src/assets/node_modules
# /vendor

# Build files
/index.dev.mjs
/messages.pot
/messages.json

# Playground files
.env
.license
/playground/public/media/*
/playground/storage/accounts/*
!/playground/storage/accounts/playgrnd
/playground/storage/cache/*
/playground/storage/sessions/*

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/tests/coverage
/tests/*/tmp
/tools/**/vendor

# Releases
kirby-seo-audit-*.zip
/dist-zero-one
